<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbaltazar.pemucoffee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PemuCoffeeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <receiver android:name=".ui.widget.PemuCoffeeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration_info_pemucoffee" />
        </receiver>

        <activity android:name=".ui.widget.PemuCoffeeWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AddRecipeActivity"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.BrewMethodDetailActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".ui.activities.RecipeDetailActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".free.ui.activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>